.oak{
    margin-top: 10%;
    font-family: 'Press Start 2P';
    display: flex;
    section {
        background-color: white;
        min-height: 4em;
        max-height: 20em;
        width: 15em;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 9px 7px 22px 4px rgba(0,0,0,0.19);
        position: relative;
        font-size: 12px;
    }
    section:before{
        border: 25px solid white;
        content: '';
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        position: absolute;
        right: -45px;
        top: 40px;
        transform: rotate(270deg);
    }

    img{
        margin-left: 20px;
        height: 70vh;
        filter: drop-shadow(5px 5px 5px #222);

    }
    .pokedexButton{
        position: absolute;
        cursor: pointer;
        width: 150px;
        height: 40px;
        background-color: rgb(84, 181, 99);
        color: white;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        border: none;
        border-radius: 5px;
        filter: drop-shadow(5px 5px 5px #222);
        transform: translate(-430px, 300px);
    }
}