.not-foun-container {
    display: flex;
    height: 100vh;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .not-found-text{
        font-size: 3em;
    }
    .go-back-launch{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1em;
        width: 220px;
        height: 30px;
        .go-back-icon{
            display: flex;
            justify-content: center;
            border-radius: 50%;
            background-color: white;
            width: 20px;
            height: 20px;
            box-shadow: 9px 7px 22px 4px rgba(0,0,0,0.19);
            margin-right: 10px;
        }
    }
    .go-back-launch:hover{
        background-color: rgb(84, 181, 99);
        color: white;
        border-radius: 5px;
    }
}