.header-container{
    background-color: #313131;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container-box{
    flex: 1;
    display: flex;
    align-items: center;
    section{
        display: flex;
        padding-left: 30%;
    }
}
.header-container-text{
    position: relative;
    margin-left: 20px;
    margin-right: 10px;
    background-color: rgb(84, 181, 99);
    width: 200px;
    padding: 15px;
    border-radius: 5px;
    color: white;

}
.header-container-text:before{
    border: 15px solid rgb(84, 181, 99);
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    right: 230px;
    transform: rotate(90deg) translate(7px, 0px);
}
.toogle{
    height: 40px;
    width: 100%;
    background-color: #616161;
   
}
.sub-toogle{
    display: flex;
    height: 20px;
    width: 40%;
    margin-bottom: 5%;
}
.toogle1{
    height: 100%;
    transform:rotate(180deg) rotateY(180deg) scale(1.25) translate(0, 10%) ;
}
.toogle2{
    height: 100%;
    width: 100%;
    background-color: #616161;
}
.toogle3{
    height: 100%;
    transform: scale(1.25) translate(0, -10%) rotate(0.5turn);
}
