.poke-detail-section{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    height: 100vh;
    h1{
        text-transform: capitalize;
        font-size: 3em;
        text-align: center;
        padding-bottom: 20px;
        cursor: default;
    }
}
.poke-details{
    display: flex;
}
.poke-details_box{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 0 20px;
}
.poke-stats-container{
    background-color: #313131;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    height: 280px;
    box-shadow: 9px 7px 22px 4px rgba(0,0,0,0.19);
    h5 {
        color: white;
        padding: 15px;
        cursor: default;
    }
}


.poke-ability-box{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}