.pokemon-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.pokemon-list {
    width: 100%;
    padding-bottom: 25px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .listItem:hover{
        justify-content:center
    }
    
}

.pokemon-list-box{
    width: 95%;
}