@font-face {
    font-family: "CustomFont";
    src: url("./assets/fonts/font.woff2");
    }
.mainContainer{
    display: flex;
    justify-content: center;
    background-image: url('./assets/images/background.png');
}
.backgroundImage{
    z-index: -1;
    position:absolute;
    width: 100%;
    height: 100%;
}