.poke-move-list-item{
    margin: 5px;
    width: 145px;
    height: 50px;
    cursor: default;
    box-shadow: 9px 7px 22px 4px rgba(0,0,0,0.19);
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
}
.poke-move-type{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.firetype {
    background-color: #fd7d23;
}
.flyingtype {
    background: linear-gradient(
      to top,
      #bdb9b8 0%,
      #bdb9b8 50%,
      #3dc6ef 50%,
      #3dc6ef 100%
    );
}
.normaltype{
    background-color: #ffffff;
}
.fightingtype {
    background-color: #d56723;
}
.poisontype {
    background-color: #b97fc9;
    color: white;
}
.groundtype {
    background: linear-gradient(
      to top,
      #aa9841 0%,
      #aa9841 50%,
      #f7dd3f 50%,
      #f7dd3f 100%
    );
}
.rocktype {
    background-color: #a28c20;
    color: white;
}
.bugtype {
    background-color: #729f3f;
    color: white;
}
.ghosttype {
    background-color: #7b62a3;
    color: white;
}
.steeltype {
    background-color: #9eb7b8;
}
.watertype {
    background-color: #4592c4;
    color: white;
}
.grasstype {
    background-color: #9bcb50;
}
.electrictype {
    background-color: #eed434;
}
.psychictype{
    background-color: #f365b9;
    color: white;
}
.icetype {
    background-color: #51c3e7;
}
.dragontype {
    background: linear-gradient(
      to top,
      #f16d56 0%,
      #f16d56 50%,
      #53a4cf 50%,
      #53a4cf 100%
    );
    color: white;
}
.darktype {
    background-color: #707070;
    color: white;
}
.fairytype {
    background-color: #fdb8e9;
}
